@import "defaults";
@import "mixins";

body {
  background: linear-gradient(#7fffd4 40%, rgba(0, 255, 255, .5) 50%);
}

.header {
  min-height: 15vh;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px #52a78a;
  
  @include mq(768px) {
    display: flex;
  }
  
  &__title {
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    font-size: 4rem;
    text-align: center;

    &::first-letter {
      font-size: 5rem;
      color: rgb(187, 255, 0);
    }
  }
}

.main {
  &__container {
    text-align: center;
    font-size: 2rem;
    width: 80%;
    margin: 1rem auto 0;
    padding: 1rem;

    @include mq(768px) {
      max-width: 40rem;
      width: 100%;
    }

    &__form {
      padding: .5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 10rem;

      &__label {
        font-size: 2.5rem;
      }

      &__input {
        margin-top: 1rem;
        border: none;
        border-bottom: solid transparent 3px;
        outline: none;
        background: none;
        appearance: none;
        text-align: center;
        padding: .5rem;
        position: relative;
        transition: border .2s ease-out;
        font-size: 2rem;

        &:focus {
          border-bottom: solid 3px purple;
        }
      }
    }

    &__card.show.transition {
      opacity: 1;
      transform: translateX(0);
    }

    &__card.show {
      display: block;
    }

    &__card {
      display: none;
      transform:translateX(-100rem);
      opacity: 0;
      margin-top: 1rem;
      background: #fff;
      border-radius: .5rem;
      padding: 1rem;
      box-shadow: 10px 10px 10px gray;
      transition: opacity .3s ease-out, transform .5s ease-out;

      &__img {
        width: 100%;
        max-width: 40rem;
        object-fit: cover;
      }

      &__details {
        min-height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 2rem;

        &__city {
          font-size: 3rem;
        }

        &__temperature {
          font-size: 3rem;
          font-weight: bold;
        }
      }
    }
  }
}